<mat-toolbar color="primary">
  <button mat-icon-button (click)="navToggle.emit()" *ngIf="isAuth || adminIsAuth">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo" routerLink="/">CRS</span>
  <!-- <pre>Admin: {{adminIsAuth}}</pre>
  <pre>Customer: {{isAuth}}</pre> -->
  <ng-container *ngIf="!isAuth && !adminIsAuth">
      <a routerLink="/auth/login" mat-button *ngIf="!isAuth && !adminIsAuth">Login</a>
      <a routerLink="/auth/register" mat-button *ngIf="!isAuth && !adminIsAuth">Register</a>
    </ng-container>
</mat-toolbar>
