<mat-card class="mat-elevation-z2 card-md">
  <mat-card-header>
    <mat-card-title>Booking</mat-card-title>
    <mat-card-subtitle
      >Please fill-in all the required fields marked with asterisks
      (*).</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="formData"
      id="form"
      (ngSubmit)="formData.valid && onSubmit(formData.value)"
    >
      <mat-form-field>
        <input
          type="date"
          matInput
          formControlName="dateFrom"
          placeholder="Enter Date From"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="date"
          matInput
          formControlName="dateTo"
          placeholder="Enter Date To"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="car"
          placeholder="Select a Car"
          required
          [matAutocomplete]="carAutocomplete"
        />

        <mat-autocomplete
          #carAutocomplete="matAutocomplete"
          [displayWith]="carDisplayFn"
        >
          <mat-option *ngFor="let car of cars" [value]="car">{{
            car.model
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="customer"
          placeholder="Select a Customer"
          required
          [matAutocomplete]="customerAutocomplete"
        />

        <mat-autocomplete
          #customerAutocomplete="matAutocomplete"
          [displayWith]="customerDisplayFn"
        >
          <mat-option *ngFor="let customer of customers" [value]="customer">{{
            customer.name
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          formControlName="remarks"
          placeholder="Enter Remarks"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" form="form">
      <mat-icon>done</mat-icon> Login
    </button>
  </mat-card-actions>
</mat-card>
