<div class="car-list-wrapper">
  <mat-grid-list [cols]="cols" rowHeight="200" gutterSize="10" (window:resize)="onResize()">
    <mat-grid-tile>
      <img src="assets/images/perodua-viva.jpg" alt="">
      <div class="info" [ngClass]="{'show': smallSize}">
        <span>Perodua Viva</span>
        <div class="btn-group">
          <button mat-raised-button>Book Now</button>
          <button mat-raised-button>View More</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/saga_lrg.jpg" alt="">
      <div class="info" [ngClass]="{'show': smallSize}">
        <span>Perodua Saga</span>
        <div class="btn-group">
          <button mat-raised-button>Book Now</button>
          <button mat-raised-button>View More</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/bezza_lrg.jpg" alt="">
      <div class="info" [ngClass]="{'show': smallSize}">
        <span>Perodua Bezza</span>
        <div class="btn-group">
          <button mat-raised-button>Book Now</button>
          <button mat-raised-button>View More</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/city_lrg.jpg" alt="">
      <div class="info" [ngClass]="{'show': smallSize}">
        <span>Honda City</span>
        <div class="btn-group">
          <button mat-raised-button>Book Now</button>
          <button mat-raised-button>View More</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
