<div class="car-list-wrapper">
  <mat-grid-list [cols]="cols" rowHeight="200" gutterSize="10" (window:resize)="onResize()">
    <mat-grid-tile *ngFor="let car of cars">
      <img [src]="car.photo" alt="">
      <div class="info" [ngClass]="{'show': smallSize}">
        <span>{{ car.brand + ' ' + car.model }}</span>
        <div class="btn-group">
          <button mat-raised-button color="primary" (click)="onBookCar(car)">Book Now</button>
          <button mat-raised-button>View More</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
